#UI #score{
    pointer-events: none;
}



#hello{
    pointer-events: all;
}

*{
    user-select: none;
}

  

#effect{
    height:720px;
    width:1480px;
    border: 1px solid black;
    position:absolute;
    background-size: cover;
    background-image: "url('./freeze.png')";
    opacity: 1;
    background-color: transparent;
}



