#UI #score{
    pointer-events: none;
}



#hello{
    pointer-events: all;
}

*{
    user-select: none;
}

  

#effect{
    height:720px;
    width:1480px;
    position:absolute;
    background-size: cover;
    background-image: "url('./freeze.png')";
    opacity: 1;
    background-color: transparent;
}



html, body {
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
overflow: hidden;
}

#playbtn{
    background-color: red;
     width:200px;
      color:rgba(0,0,0,1);
       height:200px;
        font-size: 40px; 
        border: 2px solid black; 
        border-radius: 100%;
}

#playbtn:hover {
    transition: height 0.25s linear, width 0.25s linear, font-size 0.25s linear;
    width:300px ;
    height: 300px;
    font-size: 48px;
}

#playbtn:not( :hover ){
    transition: height 0.15s linear, width 0.15s linear, font-size 0.15s linear;
    font-size: 40px;
    height: 200px;
    width: 200px;
}

#homebtn{
    background-image: url('./home btn.png');
    background-size: cover;
    background-color: transparent;
    border: none;
     height: 50px; 
     width: 50px;
}
#homebtn:hover{
   height: 60px; 
   width: 60px;
}

#restartbtn{
    float: left;
    background-image: url('./restartbtn.png');
    background-size: cover;
    background-color: transparent;
    font-size: 30px;
    border: none; 
    height: 45px;
    width: 45px;
    margin-right: 10px ;
    margin-top: 5px;
}
#restartbtn:hover{
  font-size: 35px;
  height: 50px;
  width: 50px;
}



.container {
    position: absolute;
    display: flex;
    opacity: 0;
    transition: opacity 1s linear;
    flex-direction:column;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width:100vw;
  }
  
.innercontainer{
  border: 2px solid rgb(122, 122, 122);
  border-radius: 30px;
  width:fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: rgb(24, 24, 24);
}


  .row1 {
    margin-top: 4px;
    width: 40vw;
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
    justify-self: center;
  }
  
  .placeholder {
    padding: 10px;
    background-color: #ffa41b;
    border-radius: 17px;
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-self: center;
  }
  
 #currentscorediv{
  background-color:rgba(153,245,142,0.85);
 } 
 #highscorediv{
  background-color:rgba(153,245,142,0.85);
 }


  .row2 {
    display: flex;
    justify-content: center;
    
  }
  
  .col1, .col2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border-radius: 16px;
  }
  
  .sub-col1, .sub-col2 {
    flex: 1;
    min-width: 100px;
    margin: 5px;
    background-color: #4e4e4e;
    border-radius: 15px;
    font-size: 30px;
    color: aqua;
    text-align: center;
    align-items: center;
  }
  
  .row3 {
    display: flex;
    justify-content: center;
  }
  
  .col1, .col2 {
    flex: 1;
    min-width: 100px;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    background-color: #eee;
  }


  #playagainbtn{
    background-image: url('./restartbtn.png'); 
    background-position: min(1%,1vw) 0%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: red;
  }


  #homebtn2{
    background-image: url('./home btn.png');
    background-position: 10% 0%;
    background-repeat: no-repeat;
    background-size: contain;
   background-color:  turquoise;
  }

  @media screen and (max-width: 523px) {
    #playagainbtn{
      background-position: 40%;
      color: rgba(0,0,0,0);
    }

    #homebtn2{
      background-position: 50% 0%;
      color: rgba(0,0,0,0);
    }
  
  }



  
  @media screen and (min-width: 523px) {

    @media screen and (max-width: 2072px) {
      .sub-col2{
        padding-top: 15px;
      }
  }
    
  }